<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<root>
		<level value="ALL" />
		<appender-ref ref="Application" />
	</root>

	
	<appender name="Application" type="log4net.Appender.RollingFileAppender">
		<file value="D:\DREWCELFiles\_PROJECTS\_THREEPEAKS\_LOGS\Application_.txt" />
		<datePattern value="yyyyMMdd"/>
		<preserveLogFileNameExtension value="true" />
		<appendToFile value="true" />
		<encoding value="utf-8" />
		<maximumFileSize value="5000KB" />
		<maxSizeRollBackups value="30" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%level] %logger - %message%newline" />
		</layout>
	</appender>
	
	<appender name="Exception" type="log4net.Appender.RollingFileAppender">
		<file value="D:\DREWCELFiles\_PROJECTS\_THREEPEAKS\_LOGS\Exception_.txt" />
		<datePattern value="yyyyMMdd"/>
		<preserveLogFileNameExtension value="true" />
		<appendToFile value="true" />
		<encoding value="utf-8" />
		<maximumFileSize value="5000KB" />
		<maxSizeRollBackups value="30" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%level] %logger - %message%newline" />
		</layout>
	</appender>

	<logger additivity="false" name="Exception">
		<level value="ERROR" />
		<appender-ref ref="Exception" />
	</logger>
	
</log4net>