@model StoreInfo.Web.Models.FileUploadViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="Upload">
    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Select File</label>
            <input asp-for="File" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <button type="submit" class="btn btn-success">Upload File</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            @Html.ActionLink("IMPORT", "Download", "Home")
        </div>
    </div>
</form>


@{
    if (Model.IsRenderView)
    {
        Html.RenderPartial("_RenderColumnNames", Model.ColumnNames);
    }
}
